<div style="text-align:center">
	<div [innerHtml]='msg1' *ngIf="msg1" style="color: red;"></div>
</div>
<div class="container" appDnd (fileDropped)="onFileDropped($event, 'FirstPic')">
	<input type="file" accept="image/png, image/jpeg" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files, 'FirstPic')" />
	<img src="assets/img/dnd/ic-upload-file.svg" alt="">
	<h3>Drag and drop file here</h3>
	<h3>or</h3>
	<label for="fileDropRef">Browse for file</label>
</div>
  <div class="files-list">
	<div class="single-file" *ngFor="let file of fileForFirstPic; let i = index">
	  <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
	  <div class="info">
		<h4 class="name">
		  {{ file?.name }}
		</h4>
		<p class="size">
		  {{ formatBytes(file?.size, 2) }}
		</p>
		<app-progress [progress]="file?.progress"></app-progress>
	  </div>
	  <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i, 'FirstPic')">
	</div>
  </div>
  <div style="text-align:center">
	<div><img [src]="url1" *ngIf="url1" width="200" height="200"></div>
</div>
<div style="text-align:center">
	<div [innerHtml]='msg2' *ngIf="msg2" style="color: red;"></div>
</div>
  <div class="container" appDnd (fileDropped)="onFileDropped($event, 'SecondPic')">
	<input type="file" accept="image/png, image/jpeg" #fileDropRef id="fileDropRef2" (change)="fileBrowseHandler($event.target.files, 'SecondPic')" />
	<img src="assets/img/dnd/ic-upload-file.svg" alt="">
	<h3>Drag and drop file here</h3>
	<h3>or</h3>
	<label for="fileDropRef2">Browse for file</label>
  </div>
  <div class="files-list">
	<div class="single-file" *ngFor="let file of fileForSecondPic; let i = index">
	  <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
	  <div class="info">
		<h4 class="name">
		  {{ file?.name }}
		</h4>
		<p class="size">
		  {{ formatBytes(file?.size, 2) }}
		</p>
		<app-progress [progress]="file?.progress"></app-progress>
	  </div>
	  <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i, 'SecondPic')">
	</div>
  </div>
  <div style="text-align:center">
	<div><img [src]="url2" *ngIf="url2" width="200" height="200"></div>
</div>